.allmemes-container{
  /* border:1px solid white; */
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  padding:20px;
  /* height: 80vh; */
}

.card{
  margin: 20px 20px;
  border:1px solid white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width:400px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
}

.card-img{
  width:300px;
  height:200px;
  /* object-fit: contain; */
}

.allmemes-buttons{
  width:100%;
  display:flex;
  justify-content:space-around;
}