
p{
  color:white;
}
label{
  color: white;
}

.maker-container{
  /* border:1px solid white; */
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  padding:50px;
}

.maker-form{
  width: 450px;
  height: 500px;
  border:1px solid blue;
  box-shadow: 2px 2px 8px 1px rgba(255, 255, 255, 0.767);
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content:center;
}

.maker-preview{
  border:1px solid red;
  width: 450px;
  height: 500px; 
  box-shadow: 2px 2px 8px 1px rgba(255, 255, 255, 0.767);
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  overflow: hidden;
} 

.maker-preview-img{
  width:300px;
}

.make-preview-name{
  text-overflow: ellipsis;
  overflow: ellipsis;
}

.make-preview-text{
  text-overflow: ellipsis;
  overflow: ellipsis;
}