.main-content{
  display: flex;
  justify-content:center;
  align-items:center;
  height:85vh;
}

.main-content-big-card{
  width: 900px;
  height: 500px;
  background-color:rgb(255, 255, 255);
  box-shadow: 2px 2px 8px 1px rgba(255, 255, 255, 0.767);
  display: flex;
  align-items:center;
}

.main-content-image{
  width:490px;
}