body{
  /* background-color: black; */
  background-image: url('https://media.giphy.com/media/WoD6JZnwap6s8/giphy.gif');
  background-size: cover;
}

.nav-content{
  border:3px solid rgb(66, 55, 71);
  background-color:rgb(136, 122, 149);
  display: flex;
  justify-content:center;
  height: 80px;
}

.nav-content__nav{
  width:80%;
  max-width: 1200px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.nav-content__text{
  color:white;
  font-size:30px;
  margin:  10px;
}