{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link href="{{ asset('styles/allmemes.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="allmemes-container">
  {% for meme in allMemes %}
    <div class="card" >
      <p>{{meme.name}}</p>
      <div>
        <img src="{{meme.image}}" class="card-img"/>
         <p>{{meme.text}}</p>
      </div>
      <div class="allmemes-buttons">
        {% if app.user %}
          <a href="{{path("addmeme", {'id': meme.id})}}">Add to favorite</a>
        {% endif %}
      </div>
    </div>

  {% endfor %}
</div>
{% endblock %}