<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
           <link href="{{ asset('styles/main.css') }}" type="text/css" rel="stylesheet" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="nav-content">
            <nav class="nav-content__nav">
                <div>
                  <a href="{{path("home")}}">  <h2 class="nav-content__text">Memer</h2></a>
                </div>
                <div>
                    {% if app.user %}
                    <p>Hello {{app.user.name}}!</p>
                    {% endif %}
                </div>
                <div>
                    <a href="{{path("allmemes")}}" class="nav-content__text">All MEMES</a>
                    {% if app.user == false %}
                    <a href="{{path("app_login")}}" class="nav-content__text">Login</a>
                    {% endif %}
                    {% if app.user %}
                    <a href="{{path("form")}}" class="nav-content__text">Make MEME</a>
                    <a href="{{path("mymemes")}}" class="nav-content__text">My MEMES</a>
                    <a href="{{ path('app_logout') }}" class="nav-content__text">Logout</a>
                    {% endif %}

                </div>
            </nav>
        </div>   
        {% block body %}{% endblock %}
        {% block javascript %}
        {% endblock %}
    </body>
</html>
