{% extends 'base.html.twig' %}

{% block javascript %}
<script src="{{ asset('scrips/scrip.js') }}"></script>
{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('styles/form.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<div class="maker-container">
  <form method="POST" enctype="multipart/form-data" class="maker-form">
    <label for="image">Image</label>
    <input type="text" name="image" placeholder="link de la imagen"></input>
    <label for="name">Name</label>
    <input type="text" name="name"></input>
    <label for="text">Text</label>
    <input type="text" name="text"></input>

    <button type="submit">Create MEME</button>
  </form>


  <div class="maker-preview">
    <div id="namepreview" class="maker-preview-name">
    </div>
    
    <div id="preview" >
    </div>
    
    <div id="textpreview">
    </div>
  </div>
</div>
{% endblock %}