{% extends "base.html.twig"%}

{% block stylesheets %}
  <link href="{{ asset('styles/home.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
  <div class="main-content">
    <div class="main-content-big-card">
      <div>
        <img src="https://media.giphy.com/media/888R35MJTmDxQfRzfS/giphy.gif" class="main-content-image"/>
      </div>
      <div>
        <h3>Welcome to Memer!</h3>
        <p>This web is for you to make some awesome memes!</p>
        <p>Enjoy!</p>
      </div>
    </div>
  </div>
{% endblock %}