{% extends "base.html.twig"%}

{% block stylesheets %}
  <link href="{{ asset('styles/insertUser.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}

{{form_start(userForm)}}
  {{form_widget(userForm)}}
  <button type="submit">Añadir</button>
{{form_end(userForm)}}
{% endblock %}